body {
  margin: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #212121;
}

#app {
  min-width: 800px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

#canvas {
  height: 80vh;
  width: 100%;
  background: #fff8e1;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#slide {
  width: 720px;
  min-height: 240px;
  background-color: #ffe57f;
}
#slideHeader {
  width: 100%;
  height: 32px;
  background: #ff6f00;
  color: #fff8e1;
  padding-left: 44px;
  display: flex;
  align-items: center;
}
#content {
  text-align: center;
  padding: 60px;
  color: #212121;
}

#before,
#next {
  border-radius: 50%;
  color: #ffa000;
  font-size: 48px;
  transition: 0.5s;
}
#before:hover {
  cursor: pointer;
  color: #ff6f00;
  transition: 0.5s;
}
#next:hover {
  cursor: pointer;
  color: #ff6f00;
  transition: 0.5s;
}
